@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    list-style: none;
    text-decoration: none;
    font-family: "Jost", sans-serif;
}
.bg-color-header-1{
    background-color: #ee403d;
}
.bg-color-text-box{
    background-color: #f8f8f8 !important;
    width: 600px;
    height: 50px;
}
.bg-color-text-box:focus{
    border: none !important;
    outline: none !important;
}
.bg-color-icon{
    background-color: #f5f6f2 !important;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.p-t-3{
    padding-top: 12px;
}
.bg-hero-sec{
    background-color: #f5f6f2;
}
.banner-padiing{
    padding: 120px 0 50px 0;
}
.w-300{
    width: 300px;
}
.font-50{
    font-size: 50px;
}
.font-14{
    font-size: 14px;
}
.m-b-50{
    margin-bottom: 50px;
}
.h-50c{
    height: 350px !important;
}
.minus-100{
    margin-top: -40px;
}
.assent-color{
    accent-color: #e3e3e3;
    background-color: #e3e3e3;
}
.p-t-100{
    padding-top: 100px;
}
.font-40{
    font-size: 40px;
}
.p-40{
    padding: 40px;
}
button{
    border:  none !important;
    outline: none !important;
}
.bg-cart{
    background-color: #f6f6f6;
}
.hover-checkout{
    background-color: #ee403d;
    transition: .3s all linear;
    cursor: pointer;
    border: 1px solid #ee403d !important;
}
.hover-checkout:hover{
    background-color: white;
    color: #ee403d !important;
}
.hover-shoping{
    transition: .3s all linear;
    cursor: pointer;
}
.hover-shoping:hover{
    color: #bbb5b5;
}
.hover-red{
    transition: .3s all linear;
    cursor: pointer;
}
.hover-red:hover{
    color: #ee403d;
}
.img-h{
    height: 136px;
    width: 120px;
}
.pointer{
    cursor: pointer !important;
    transition: .3s all linear;
}
.pointer:hover{
    color: #ee403d !important;
}
.bg-img{
    background-image: url('../images/images\ \(1\).png');
    background-repeat: no-repeat;
    background-position: bottom bottom;
    background-size: cover;
}
.hover-icon{
    cursor: pointer;
    transition: .3s all linear;
}
.hover-icon:hover{
    background-color: #ee403d !important;
    color: #F5F6F2;
}
@media (max-width: 992px) {
    .center-responsive{
        text-align: center;
        width: 100%;
    }
    .minus-100{
        margin-top: 0 !important;
    }
    .postistion-responsive{
        position: sticky;
        top: 0;
        z-index: 10;
        padding-bottom: 5px;
    }
}