@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Space Grotesk", serif;
}

body {
    background-color: #675aff;
}

.btn-my {
    background-color: #675aff;
    transition: .3s all linear;
    border: 1px solid black;
    padding: 10px;
    border-radius: 14px;
    border: none !important;
    color: white;
}

.btn-my:hover {
    transform: translate(-4px -4px);
    box-shadow: 4px 4px black !important;
}

.btn-my:active {
    transform: translate(0) !important;
    box-shadow: none !important;
}




