* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #e0e0e0; */
    background-color: #a8cfff;
}

.game-container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 25px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    /* background: #e0e0e0;
    box-shadow:  4px 4px 8px #bcbcbc, -4px -4px 8px #ffffff; */

    background: #a8cfff;
    box-shadow:  4px 4px 8px #8daed6, -4px -4px 8px #c3f0ff;
}

.cell:active {
    /* background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  4px 4px 8px #bcbcbc, -4px -4px 8px #ffffff; */
    background: linear-gradient(145deg, #97bae6, #b4ddff);
    box-shadow:  4px 4px 8px #8daed6, -4px -4px 8px #c3f0ff;
}

.info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 20px;
}

#reset {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    box-shadow: 4px 4px 0px #000;
    transform: translateY(-8px);
    background-size: 300% 100%;
    border-radius: 5px;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    /* box-shadow: 0 5px 15px rgba(242, 97, 103, .4); */
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#reset:active {
    box-shadow: none;
    transform: translateY(0);
}

#reset:hover {
    background-position: 100% 0;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

/* Leaderboard styling */
.leaderboard {
    margin-top: 20px;
}

.leaderboard p {
    font-size: 1rem;
    font-weight: bold;
}